body {
  background: #f3f0f1;
  font-family: 'Montserrat', sans-serif;
  color: #160c28;
  text-align: center;
}

header {
  font-family: Lobster;
  font-size: 40px;
  margin: 30px auto;
}

main {
  display: grid;
  justify-content: center;
}

.button,
.display,
.calculator {
  border-radius: 12px;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8),
    3px 3px 5px rgba(0, 0, 0, 0.2);
  color: #6f6cde;
  transition: all 0.1s ease-in-out;
  font-size: 32px;
}

.calculator {
  padding: 2px;
  width: 480px;
  margin: 10px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  padding-right: 15px;
  margin: 10px 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}

.buttons {
  height: 500px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'c divide multiply subtract'
    'n7 n8 n9 plus'
    'n4 n5 n6 plus'
    'n1 n2 n3 equal'
    'n0 n0 dot equal';
}

#plus {
  grid-area: plus;
}
#n0 {
  grid-area: n0;
}
#equal {
  grid-area: equal;
}

.button:hover {
  opacity: 0.3;
}

.button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}
